*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

header h1{
    text-align: center;
    font-size: 3rem;
    margin-top: 30px;

}


.grid-container {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }


/* Add CSS styles for grid cells, container, and button */
.grid-row {
    display: flex;
}

.grid-cell {
    width: calc(100% / 16);
    padding-bottom: calc(100% / 16);
    /* border: 1px solid #ccc; */
}

#clear-button {
    margin-top: 10px;
}
